.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Leve fundo branco translúcido */
    backdrop-filter: blur(2px);
    z-index: 1000; /* Garante que fique no topo */
}


.image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
    
}


